---
import { getAllPrizes } from "@lib/firebase/prizes";
import BaseLayout from "../layouts/BaseLayout.astro";
import * as Card from "@components/ui/card";

const prizes = await getAllPrizes();
const sortedPrizes = prizes.sort((a, b) => {
  if (a.stock === 0 && b.stock !== 0) return 1;
  if (a.stock !== 0 && b.stock === 0) return -1;
  return b.cost - a.cost;
});
---

<BaseLayout>
  <h1 class="mb-4 text-4xl font-bold">Shop</h1>
  <div class="grid gap-4 lg:grid-cols-2">
    {
      sortedPrizes.map((prize) => (
        <Card.Root class={prize.stock === 0 ? "bg-red-400/20" : ""}>
          <Card.Content class="flex items-center justify-between gap-4">
            <div>
              <div class="mb-4 flex flex-col space-y-1.5">
                <Card.Title>{prize.name}</Card.Title>
                <Card.Description>{prize.description}</Card.Description>
              </div>

              <p>Costs {prize.cost} XP</p>
              <p class="text-sm text-muted-foreground">
                <span class="text-foreground">{prize.stock}</span> left in stock
              </p>
            </div>

            <img
              src={prize.imageUrl}
              alt={prize.name}
              class="max-h-20 max-w-20 object-contain"
            />
          </Card.Content>
        </Card.Root>
      ))
    }
  </div>
</BaseLayout>
